#pictures.transitions-enabled 
  .col-md-6.col-md-offset-2
    .box.panel.heading.pic_image
    - @pictures.each do |picture|
      .panel.panel-default
        .panel-body
          = link_to (image_tag picture.image.url), picture
          %h2= link_to picture.title, picture


